body {
  padding-top: 70px;
  background-color: #eee;
}

.navbar {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -o-box-shadow:      0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.navbar-brand {
  line-height: 25px;
}

.navbar-brand img {
  height: 25px;
  float: left;
  margin-right: 5px;
}

.navbar-right i {
  font-size: 1.5em;
}

body.front-page .eindhoven-header {
  height: 400px;
}

body.front-page .eindhoven-header h1 {
  margin: 182px 0 0 0;
  color: #eee;
  text-shadow: 2px 2px #000;
}

body.front-page .eindhoven-header span {
  color: #eee;
  font-size: 1.2em;
}

body.front-page .content {
  background-color: #eee;
  padding: 50px 0;
}

body.front-page .we-do h3 {
  text-align: center;
}

body.front-page .we-do p {
  padding: 10px;
  text-align: center;
}

body.front-page hr {
  border-color: #ccc;
  margin-bottom: -75px;
}

body.front-page .feature {
  margin-top: 100px;
}

body.front-page .feature a {
  text-decoration: none;
}

body.front-page .feature a:hover span {
  color: #3399f3;
}

body.front-page .feature h2 {
  font-size: 50px;
  letter-spacing: -1px;
}

body.front-page .feature h2 span {
  color: #666;
}

body.front-page .feature p {
  padding: 10px 0;
  font-size: 20px;
}

body.other-page .content {
  min-height: 1000px;
}

body.other-page .spacer {
  height: 100px;
}

p.tagline {
  font-size: 1.5em;
  margin-bottom: 2em;
}

p.tagline b {
  font-weight: normal;
  color: #2d2d2d;
}

.au-intro {
  margin-bottom: 50px;
}

.au-intro .story {
  margin-bottom: 20px;
}

.au-intro .office {
  margin-bottom: -70px;
}

.au-intro .office .overlay {
  background-color: #111;
  padding: 0 10px;
  position: relative;
  top: -100px;
  opacity: 0.8;
  max-width: 600px;
}

.au-intro .office .overlay h3 {
  color: #eee;
  margin: 0px;
  line-height: 70px;
}

.au-people {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .au-people .constructor {
    margin-bottom: 50px;
  }
}

.au-people .constructor img {
  width: 150px;
  height: 150px;
}

@media (min-width: 992px) {
  .au-people .constructor .name {
    height: 70px;
  }
}

.au-people .constructor .name h3 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 0px;
}

.au-people .constructor .name small {
  font-style: italic;
  font-size: 0.9em;
  display: block;
  margin-bottom: 10px;
}

.au-people .constructor .social i {
  font-size: 1.5em;
}

.au-people .constructor .social a {
  text-decoration: none;
}

.contact-text ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.contact-map {
  height: 400px;
}

footer {
  padding: 50px 0;
  background-color: #222;
  color: #ccc;
}

footer a:link, footer a:hover, footer a:visited {
  color: #ccc;
}

footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 768px) {
  footer .contact {
    text-align: left;
  }

  footer .legal {
    text-align: center;
  }

  footer .smedia {
    text-align: right;
  }
}

@media (max-width: 768px) {
  footer .legal {
    margin: 10px 0;
  }
}
