<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 contact">
        {% include contact.html %}
      </div>
      <div class="col-sm-4 legal">

        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.{{ site.lang }}">
          <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png">
        </a> Constructors
      </div>
      <div class="col-sm-4 smedia">
        <ul>
          <li>
            <a href="{{ site.data.site.socialmedia.github }}">
              {% t footer.github %} <i class="fa fa-github-square"></i>
            </a>
          </li>
          <li>
            <a href="{{ site.data.site.socialmedia.twitter }}">
              {% t footer.twitter %} <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li>
            <a href="{{ site.data.site.socialmedia.linkedin }}">
              {% t footer.linkedin %} <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
