<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
{% if page.image %}
  <meta property="og:image" content="{{ site.url }}/img/blog/thumb/{{ page.image }}">
{% else %}
  <meta property="og:image" content="{{ site.url }}/img/logo.png">
{% endif %}
{% if page.url contains "/blog/20" %}
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
  <meta proptery="article:published_time" content="{{ page.date | date: '%Y-%m-%d' }}">
  {% capture cattrans %}blog.categories.{{ page.category }}{% endcapture %}
  <meta property="article:section" content="{% t cattrans %}">
{% else%}
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ site.data.site.description }}">
{% endif %}

{% capture site_title %}{% include title.html title=page.title %}{% endcapture %}
<meta property="og:title" content="{{ site_title | strip_newlines }}">
