{% for customer in site.data.portfolio %}
<div class="col-md-4 customer">
  <div class="logo center-block">
    <a href="{{ site.baseurl }}/portfolio/{{ customer.page }}/"><img src="/img/portfolio/{{ customer.page }}.png" alt="{{ customer.name }}"></a>
  </div>

  <blockquote>
    <p>
      &ldquo;{{ customer.testimonial[site.lang] }}&rdquo;
    </p>
    <footer>
      {{ customer.credential.name }}, {{ customer.credential.position }} {% t portfolio.at %} <cite>{{ customer.credential.company }}</cite>
    </footer>
  </blockquote>
</div>
{% endfor %}
