<ul class="nav navbar-nav">
  <li{% if page.url == "/index.html" %} class="active"{% endif %}>
    <a href="{{ site.baseurl }}/">{% t menu.home %}</a>
  </li>
  <li{% if page.url == "/about/index.html" %} class="active"{% endif %}>
    <a href="{{ site.baseurl }}/about/">{% t menu.about %}</a>
  </li>
  <li{% if page.url == "/contact/index.html" %} class="active"{% endif %}>
    <a href="{{ site.baseurl }}/contact/">{% t menu.contact %}</a>
  </li>
  {% assign numberofposts = site.posts | size %}{% if numberofposts > 0 %}
  <li{% if page.url contains "/blog/" %} class="active"{% endif %}>
    <a href="{{ site.baseurl }}/blog/">{% t menu.blog %}</a>
  </li>
  {% endif %}
</ul>
