---
layout: page
title: Blog
---

{% tf blog/intro.html %}

<div class="row blog-index">
  {% for post in site.posts %}
  {% assign mod = forloop.index0 | modulo:2 %}
  <div class="col-sm-6">
    <div class="blog-post category-{{ post.category }}">
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>

      <blockquote>
        {{ post.excerpt }}
        <small>{% t blog.on %} {% include date.html date=post.date %} {% t blog.in %} {% t post.lang %} {% t blog.by %} <cite>{{ post.author }}</cite>
        </small>
      </blockquote>
    </div>
  </div>
  {% if mod == 1 %}
</div>
<div class="row blog-index">
  {% endif %}
  {% endfor %}
</div>
