html {
  height: 100%;
}

body {
  padding-top: 70px;
  background-color: $white;
  height: 100%;
}

.navbar {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -o-box-shadow:      0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.75);

  .navbar-brand {
    img {
      height: 25px;
      float: left;
      margin: -2px 5px 0px 0px;
    }
  }

  .navbar-nav {
    > li {
      > a, > a:hover {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

body > footer {
  padding: 50px 0;
  background-color: #222;
  color: #ccc;
  background-image: url(/img/logo-footer.svg);
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 200px;

  a:link, a:hover, a:visited {
    color: #ccc;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    .license {
      img {
        margin-top: 1em;
      }
    }
  }

  @media (min-width: 768px) {
    .contact {
      text-align: left;
    }

    .smedia {
      text-align: right;
    }
  }

  @media (max-width: 768px) {
    padding-top: 180px;

    .smedia {
      margin-top: 1em;
    }
  }
}
