.portfolio-banner {
  height: 350px;
  margin-top: -20px;

  .container {
    height: 100%;

    .wow {
      @extend .floating-header;

      blockquote {
        color: #EEE;
        border: 0;
        padding: 0;

        footer {
          color: #EEE;
        }
      }
    }
  }
}
