.portfolio-banner {
  height: 350px;
  margin-top: -20px;

  .container {
    height: 100%;

    .wow {
      @extend .floating-header;

      blockquote {
        color: #EEE;
        border: 0;
        padding: 0;

        footer {
          color: #EEE;
        }
      }
    }
  }
}

.portfolio-header {
  @extend .static-blue-background;
  margin-bottom: 1em;

  h2 {
    margin: 1em 0;
    color: #EEE;
  }
}

.portfolio-content {
  .thumbnail {
    @extend .static-blue-background;

    img {
      width: 100%;
    }

    .caption p {
      color: #EEE;
      margin: 0;
      font-size: 0.7em;
    }
  }
}