<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Software Consultancy based in Eindhoven">
    <meta name="author" content="CodeVentures B.V.">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{ page.title }} - Constructors</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link href="/css/constructors.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
  </head>

  <body class="{{ page.body }}">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="logo" class="img-responsive">Constructors
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if page.url == "/index.html" %} class="active"{% endif %}>
              <a href="/">Home</a>
            </li>
            <li{% if page.url == "/about/index.html" %} class="active"{% endif %}>
              <a href="/about/">About</a>
            </li>
            <li{% if page.url == "/contact/index.html" %} class="active"{% endif %}>
              <a href="/contact/">Contact</a>
            </li>
            <li{% if page.url contains "/blog/" %} class="active"{% endif %}>
              <a href="/blog/">Blog</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/constructors"><i class="fa fa-github-square"></i></a></li>
            <li><a href="https://twitter.com/constructorsehv"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    {{ content }}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 contact">
            {% include contact.html %}
          </div>
          <div class="col-sm-4 legal">
            &copy; 2014 Constructors
          </div>
          <div class="col-sm-4 smedia">
            <ul>
              <li>
                <a href="https://github.com/constructors">
                  Find us on Github <i class="fa fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  Follow us on Twitter <i class="fa fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  Follow us on LinkedIn <i class="fa fa-linkedin-square"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    {% if page.url == "/contact/index.html" %}
    <script src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/js/gmaps.js"></script>
    <script src="/js/map.js"></script>
    {% endif %}
  </body>
</html>
