<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Software Consultancy based in Eindhoven">
    <meta name="author" content="CodeVentures B.V.">
    <link rel="shortcut icon" href="/img/favicon.png">

    <title>{{ page.title }} - Constructors</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link href="/css/constructors.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Constructors</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if page.url == "/index.html" %} class="active"{% endif %}>
              <a href="/">Home</a>
            </li>
            <li{% if page.url == "/about/index.html" %} class="active"{% endif %}>
              <a href="/about/">About</a>
            </li>
            <li{% if page.url == "/contact/index.html" %} class="active"{% endif %}>
              <a href="/contact/">Contact</a>
            </li>
            <li{% if page.url contains "/blog/" %} class="active"{% endif %}>
              <a href="/blog/">Blog</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Your link</a></li>
                <li><a href="#">My link</a></li>
                <li><a href="#">Somebody's link</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Bang bang</a></li>
                <li><a href="#">Oh yeah</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Some links</a></li>
            <li><a href="#">On the</a></li>
            <li><a href="#">Right side</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
