---
layout: default
body: other-page
---
<section class="portfolio-banner backstretched-background"{% if page.image != 'none' %} data-background="/img/portfolio/{{ page.image }}"{% endif %}>
  <div class="container">
    <div class="wow img-rounded">
      <h1>
        <a href=".">{% include title.html title=page.title %}</a>
      </h1>
      <blockquote>
        <p>
          {{ page.testimonial }}
        </p>
        <footer>
          {{ page.credential }}
        </footer>
      </blockquote>
    </div>
  </div>
</section>

<section class="content">
  <div class="portfolio-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>{{ page.header }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-post portfolio-content">
    <div class="container">
      {{ content }}
    </div>
  </div>
</section>
