---
layout: default
body: other-page
---
<section class="portfolio-banner backstretched-background" data-background="/img/portfolio/{{ page.key }}.jpg">
  <div class="container">
    <div class="wow img-rounded">
      <h1>
        <a href=".">{% include title.html title=page.title %}</a>
      </h1>
      <blockquote>
        {% for customer in site.data.portfolio %}{% if customer.page == page.key %}
        <p>
          {{ customer.testimonial[site.lang] }}
        </p>
        <footer>
          {{ customer.credential.name }}, {{ customer.credential.position }} {% t portfolio.at %} <cite>{{ customer.credential.company }}</cite>
        </footer>
        {% endif %}{% endfor %}
      </blockquote>
    </div>
  </div>
</section>

<section class="content">
  <div class="portfolio-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10">
          <h2>{{ page.header }}</h2>
        </div>
        <div class="col-md-2 hidden-xs logo">
          <img src="/img/portfolio/{{ page.key }}.png" alt="{{ page.key }}" class="img-rounded">
        </div>
      </div>
    </div>
  </div>
  <div class="blog-post portfolio-content">
    <div class="container">
      {{ content }}
    </div>
  </div>
</section>
